.edit-page-header-decoration {
  color: #0e6f1e !important;
}
.edit-group-header-decoration {
  color: #0e6f1e !important;
  text-decoration: underline;
}
.edit-properties-decoration {
  color: #a5a5a5 !important;
}

.edit-input-value-decoration {
  border-left: 1px solid #bebebe;
  border-top: 1px solid #bebebe;
  border-bottom: none;
  border-right: none;
  border-radius: 2px;
  bottom: 0px;
  padding-left: 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 0px;
}

.edit-button-decoration {
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  bottom: 0px;
  padding-left: 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 0px;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.07));
  background: linear-gradient(to bottom, white, white 50%, rgba(0, 0, 0, 0.07));
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
