.edit-page-header-decoration {
  color: #0e6f1e !important;
}
.edit-group-header-decoration {
  color: #0e6f1e !important;
  text-decoration: underline;
}
.edit-properties-decoration {
  color: #a5a5a5 !important;
}

.edit-input-value-decoration {
  border-left: 1px solid #bebebe;
  border-top: 1px solid #bebebe;
  margin-left: -1px;
  margin-top: -1px;
  border-bottom: none;
  border-right: none;
  border-radius: 2px;
  bottom: 0px;
  padding-left: 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 0px;
}

.edit-button-decoration {
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  margin: -1px;
  bottom: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), white 70%, rgba(220, 220, 220, 100));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 70%, rgba(220, 220, 220, 100));
  box-shadow: 0 1px 0 #0000005c;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}
